<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.PostMapper">
    <select id="getList" resultType="org.zerock.domain.PostVO">
    <![CDATA[select * from Post order by oid desc]]>
    </select>
    <select id="getListAccordingToBoardOid" resultType="org.zerock.domain.PostVO">
    <![CDATA[select * from Post where board_oid = #{board_oid} order by oid desc]]>
    </select>

    <select id="getLeftList" resultType="org.zerock.domain.PostVO">
    <![CDATA[select * from post where board_oid = 1 order by oid desc]]>
    </select>
    <select id="getRightList" resultType="org.zerock.domain.PostVO">
    <![CDATA[select * from post where board_oid = 2 order by oid desc]]>
    </select>

    <insert id="insert">
        insert into post(oid, student_id, board_oid, title, content, post_date)
        values(post_seq.nextval, #{studentId}, #{boardOid}, #{title}, #{content}, sysdate)
    </insert>

    <delete id="delete">
        delete from post where oid = #{oid}
    </delete>

    <select id="read" resultType="org.zerock.domain.PostVO">
        select * from Post where oid = #{oid}
    </select>

    <update id="update">
        update post
        set title = #{title},
            content = #{content},
            update_date = sysdate
        where oid = #{oid}
    </update>

</mapper>