<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.ReplyMapper">
    <select id="getList" resultType="org.zerock.domain.ReplyVO">
    <![CDATA[select * from Reply ]]>
    </select>

    <select id="getListAccordingToPostOid" resultType="org.zerock.domain.ReplyVO">
    <![CDATA[select * from Reply where post_oid = #{postOid} ]]>
    </select>

    <insert id="insert">
        insert into reply(oid, student_id, post_oid, content, post_date)
        values(reply_seq.nextval, #{studentId}, #{postOid}, #{content}, sysdate)
    </insert>

    <delete id="delete">
        delete from reply where oid = #{oid}
    </delete>

    <select id="read" resultType="org.zerock.domain.ReplyVO">
        select * from Reply where oid = #{oid}
    </select>

</mapper>